@page "/games/davoserjazz/{roomid}"
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.WebUtilities
@inject Blazored.LocalStorage.ISyncLocalStorageService LocalStorage


@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="flex h-full">
    <div class="flex justify-between overflow-x-scroll self-center mx-auto">
        @foreach (var card in _cards)
        {
            <CardComponent _card="card"></CardComponent>
        }
    </div>
</div>

@code {

    [Parameter]
    public string RoomId { get; set; }

    private HubConnection _hubConnection;
    private List<CardClass> _cards = new List<CardClass>();

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("http://localhost:5000/davoserjazzhub"))
            .Build();

        _hubConnection.On<List<CardClass>>("PlayerHand", (cards) =>
        {
            Console.WriteLine($"Handsize: {cards.Count}");

            _cards = cards;
            StateHasChanged();
        });

        await _hubConnection.StartAsync();

        var guid = LocalStorage.GetItem<string>("SessionGuid");
        await _hubConnection.SendAsync("EnterGameAsPlayer", guid, RoomId);
    }

    public async ValueTask DisposeAsync()
    {
        await _hubConnection.DisposeAsync();
    }


}