<div class="flex flex-col justify-between w-auto h-auto max-h-32 max-w-26 border border-black rounded p-2 m-2 hover:bg-blue-400">
    <div class="flex justify-between">
        <p class="hidden sm:block text-center sm:text-left w-full">@GetNumberFromEnum(_card.Number)</p>
        <p class="text-center sm:text-right w-full">@GetNumberFromEnum(_card.Number)</p>
    </div>
    <div class="flex items-center justify-center">
        <img alt="/icons/clover.png" src="/icons/@(_card.Suit.ToString()).png" class="max-h-16"/>
    </div>
    <div class="flex justify-between">
        <p class="hidden sm:block text-center sm:text-left w-full">@GetNumberFromEnum(_card.Number)</p>
        <p class="text-center sm:text-right w-full">@GetNumberFromEnum(_card.Number)</p>
    </div>
</div>

@code {

    [Parameter]
    public CardClass _card { get; set; }

    private string GetNumberFromEnum(Number number)
    {
        switch (number)
        {
            case Number.ACE:
                return "1";
            case Number.TWO:
                return "2";
            case Number.THREE:
                return "3";
            case Number.FOUR:
                return "4";
            case Number.FIVE:
                return "5";
            case Number.SIX:
                return "6";
            case Number.SEVEN:
                return "7";
            case Number.EIGHT:
                return "8";
            case Number.NINE:
                return "9";
            case Number.TEN:
                return "10";
            case Number.JACK:
                return "J";
            case Number.QUEEN:
                return "Q";
            case Number.KING:
                return "K";
            case Number.JOKER:
                return "*";
            default:
                throw new ArgumentOutOfRangeException(nameof(number), number, null);
        }
    }

}