@inherits LayoutComponentBase

<div class="flex flex-col items-stretch fill-height fill-width">
    <div class="bg-blue-400 flex items-center justify-center w-full h-12">
        <div>
            <p class="text-white font-extrabold py-auto">
                Frederik Flint Card Games
            </p>
        </div>
    </div>

    <div class="px-1 sm:px-8 py-4 h-full w-full">
        @Body
    </div>

    <div class="bg-blue-400 flex items-center justify-between w-full h-6">
        <p class="ml-2 text-white font-bold overflow-hidden max-h-full max-w-full">Ⓒ 2021</p>
            <div class="self-end overflow-hidden max-h-full max-w-full">Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
</div>
